<h1> From this page you can add a new book</h1>

<%= form_for @nb do |f| %>

  
  <%= f.label :title  %>
  <%= f.text_field :title %>

  <br><br>

  <%= f.label :author  %>
  <%= f.text_field :author %>

  <br><br>

  <%= f.label :description  %>
  <%= f.text_field :description %>

  <br><br>

  <%= f.submit %>


<% end %>